@model HealthyTooth.ViewModels.HomeViewModel


<title>@ViewBag.Title</title>

<h1>Our Dentists</h1>

@foreach (var doctor in Model.Doctors)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="~/images/@doctor.ImagePath" />
            <div class="caption">
                <h2>@doctor.Name</h2>
                <h3>Usługa: @doctor.ServiceDescription</h3>
            </div>
        </div>
    </div>

}
