

@model VisitSummaryViewModel

<h2>Podsumowanie wizyty</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Usługa</th>
            <th>Dentysta</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.VisitSummary.VisitSummaryItems)
        {
            <tr>
                <td class="text-left">@line.Doctor.ServiceDescription</td>
                <td class="text-left">@line.Doctor.Name</td>
            </tr>
        }
    </tbody>
</table>


<div class="text-center">
    <a class="btn btn-primary" asp-controller="Order" asp-action="Checkout">Check out now!</a>
</div>

